<div class="container">

    <!-- Marketing Icons Section -->
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">
          Highly Configurable
        </h1>
      </div>
      <h4 class='text-center'>Why settle for something that's 'Close Enough'?
      <br> Your idea of an exchange should be "Exactly As I Want It"</h4>
    </div>

    <!-- Features Section -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Configuration Options</h2>
        </div>
        <div class="col-md-6">
            <p>Use database-level configuration or environment level configuration</p>
            <ul>
                <li><strong>Manual or Automatic Withdrawls For Greater Security</strong></li>
                <li><strong>Twilio 2FA - On or Off</strong></li>
                <li><strong>Mailgun Emails - On or Off</strong></li>
                <li>Allow Sellers to Collect KYC</li>
                <li>Allow Sellers to Delay Transactions</li>
                <li>Allow Sellers to Limit To People Who Have Transacted X Amount</li>
                <li>Customizable Seller Fees</li>
            </ul>
        
            <p>Current Setup - This Instance</p>
            <ul> 
              <li>Configuration Provider: <b><%= @config_provider rescue "None Provided" %></b></li>
              <li>Withdrawal Configuration: <b><%= @withdrawl ? "Automatic" : "Manual" %></b></li>
              <li>Buyer Fee: <b><%= @buyer_fee %>%</b></li>
              <li>Seller Fee: <b><%= @seller_fee %>%</b></li>
              <li>Bitcoin Network: <b><%= @bitcoin_network ? "Livenet" : "Testnet" %></b></li>
              <li>Stripe Network: <b><%= @stripe_network ? "Production" : "Test" %></b></li>
              <li>Twilio 2FA: <b><%= @twilio_twofa ? "Active" : "Inactive" %></b></li>
              <li>Mailgun Email: <b><%= @mailgun_email ? "Active" : "Inactive" %></b></li>
              <li>Sellers Can Collect KYC: <b><%= @allow_seller_kyc_collect ? "Yes" : "No" %></b></li>
              <li>Sellers Can Delay Orders: <b><%= @allow_seller_delays ? "Yes" : "No" %></b></li>
              <li>Sellers Can Set Min-Buy Limits: <b><%= @allow_seller_limits ? "Yes" : "No" %></b></li>
            </ul>

            <p> Your exchange should be an unique as your ideas on how to run an exchange.</p>
            <p><b>Because One Size Fits None. #StrongIndepentExchangeThatDon'tNeedNoInvestor</b></p>
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="http://placehold.it/700x450&text=Configuration 101" alt="">
        </div>
    </div>
    <!-- /.row -->
</div>